table.MarkDtl{ 
    border:1px solid #E4E4E4;
    color:#727272;
    line-height:30px;
    width:100%;
    padding-left:10px;
}


table.MarkDtl tr:nth-child(odd) {background: #DDDDDD !important; }
table.MarkDtl tr:nth-child(even) {background: #f8f8f8 !important;}

table.MarkDtl thead tr th {background: #747474 !important; color:#fff; font-size:13.5px; color:#fff; padding:5px 10px; font-weight:600; letter-spacing:0.08em;
}

table.MarkDtl tbody tr td {padding:5px 10px;
}
.MarkDtl a { color:#07c !important; text-decoration:underline !important;}


table.SemsterTble{ 
    border:1px solid #E4E4E4;
    color:#00688C;
    line-height:30px;
    width:100%;
    padding-left:10px;
    overflow-x:scroll;
}

table.SemsterTble tr:nth-child(odd) {background: #fff !important; border-right:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD; }
table.SemsterTble tr:nth-child(even) {background: #fff !important; border-right:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD;}

table.SemsterTble thead tr th {background: #0276B5 !important; font-size:13.5px; color:#fff; padding:5px 10px; font-weight:600; letter-spacing:0.08em;
}

table.SemsterTble tbody tr td {border-right: 1px solid #DDDDDD; padding:5px 10px;
}

.SemsterTrBg { background-color:#D5EAFF; font-weight:bold;
}



.SrvDiv {
    background-color: #fff;
    border: solid 1px #ddd;
    color: #045abc;
    width: 49%;
    margin: .5%;
    float: left;
    padding: .5%;
    overflow: auto;
    font-size: 18px;
    border-radius: 5px;
    border-left: solid 5px #438bc8;
}

.SrvDiv a {
    color: #337ab7;
    font-size: .9em;
    text-decoration: none;
    font-weight: bold;
}

.SrvDiv span {
    line-height: 20px;
    margin: 10px 0 0 0;
    color: #767676;
    font-size: .65em;
}
